@using System.Diagnostics
@using TSPP.Models.DB

@{
    ViewData["Title"] = "SearchResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Cinema> C = null;
    List<Movie> M = null;
    List<Comments> comments = ViewBag.Comments;
    try
    {
        C = (List<Cinema>)ViewBag.Data;
    }
    catch (Exception e)
    {
        Debug.WriteLine(e);
        M = (List<Movie>)ViewBag.Data;
    }
}



@{
    if (C == null && M == null)
    {
        <h1>
            Вибачте за вашим запитом нічого не знайдено
        </h1>
    }
    else
    {
        if (C != null)
        {
            foreach (var item in C)
            {


                <div class="row">
                    <div class="col-md-12">

                        <h1>
                            @item.Name
                        </h1>
                        <h3>
                            @item.Address
                        </h3>
                    </div>
                </div>
                <hr />
            }
        }
        if (M != null)
        {
            foreach (var item in M)
            {
                string @base64String = Convert.ToBase64String(item.Img);
                <div class="row">
                    <div class="col-md-4">
                        <img src="@String.Format("data:image/png;base64,{0}", @base64String)" alt=@item.Name class="img-responsive" />
                    </div>
                    <div class="col-md-8">
                        <h2>
                            @item.Name
                        </h2>
                        <h4 class="text-justify">
                            @item.Discription
                        </h4>
                        <hr />
                    </div>
                </div>
                <hr />
            }


        }

        foreach (var item in comments)
        {
            <div class="row">
                <div class="col-md-3">
                    <p>
                        @item.User.Name
                    </p>
                </div>
                <div class="col-md-9">
                    <h4>
                        @item.Comment
                    </h4>
                </div>
            </div>
        }
    }

}
